# Dependency directories
node_modules/

# Environment variables
.env
.env.local

# Editor directories and files
.DS_Store
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Logs
logs
*.log
npm-debug.log*

# Build outputs
/dist
/build
.cache

# Netlify
.netlify/
